  <%if(x.length == 0 ) {%>
    <h1><i class="fab fa-angellist "></i>There are no apartments with your search</h1>
  
  <%}%>

<%
    if (x != undefined ) {
      
     for (let i = 0; i < x.length; i++) {
      let img = x[i].images.find(a => a.isMainPhoto == true);

if (x[i].status) {
%>
    <div id="IMG" class="w3-third w3-margin-bottom">
<%}else{%>
    <div id="IMG" class="w3-third w3-margin-bottom w3-opacity">
<%}%>
        <i id="X" class="far fa-times-circle w3-button" style="position:absolute; margin-left: 3em;" data-id="<%= x[i]._id %>"></i>
        <i id="Y" class="far fa-check-circle  w3-button" style="position:absolute;" data-id="<%= x[i]._id %>"></i>
      <img src="<%= img.uri %>" alt="Norway" style="width:100%">
      <div class="w3-container w3-white">
        <h3><%=x[i].titel %></h3>
        <h6 class="w3-opacity">From <i class="fa fa-eur" aria-hidden="true"></i><%= x[i].price %></h6>
        <p><%=x[i].location.province %></p>
        <p><%= x[i].apartmentSize %>m<sup>2</sup></p>
        <p class="w3-large">
        <% if (x[i].services.wifi) {%>
          <i class="fa fa-fw fa-wifi" title="wifi"></i>
        <%}else{%>
          <i class="fa fa-fw fa-wifi w3-opacity" title="wifi"></i>
        <%} if (x[i].services.heating) {%>
          <i class="fa fa-fw fa-thermometer" title="heating"></i>
        <%}else{%>
          <i class="fa fa-fw fa-thermometer w3-opacity" title="heating"></i>
        <%} if (x[i].services.reducedMobility) {%>
          <i class="fa fa-fw fa-wheelchair" title="Reduced Mobility"></i>
        <%}else{%>
          <i class="fa fa-fw fa-wheelchair w3-opacity" title="Reduced Mobility"></i>
        <%} if (x[i].services.TV) {%>
          <i class="fa fa-fw fa-tv" title="TV"></i>
        <%}else{%>
          <i class="fa fa-fw fa-tv w3-opacity" title="TV"></i>
        <%} if (x[i].services.kitchen) {%>
          <i class="fas fa-fw fa-utensils" title="kitchen"></i>
        <%}else{%>
          <i class="fas fa-fw fa-utensils w3-opacity" title="kitchen"></i>
        <%} if (x[i].services.AC) {%>
          <i class="fa fa-fw fa-snowflake" title="AC"></i>
        <%}else{%>
          <i class="fa fa-fw fa-snowflake w3-opacity" title="AC"></i>
        <%}%>
        </p>
          <p class="w3-button w3-block w3-black w3-margin-bottom" data-id="<%= x[i]._id %>" data-status="<%= x[i].status %>">Choose Room</p>
      </div>
    </div>
    <%}}%>
  <!-- Subscribe Modal -->
<div id="subscribe" class="w3-modal">
  <div class="w3-modal-content w3-animate-zoom w3-padding-large">
    <div class="w3-container w3-white w3-center">
      <i onclick="document.getElementById('subscribe').style.display='none'" class="fa fa-remove w3-button w3-xlarge w3-right w3-transparent"></i>
      <h2 class="w3-wide">WAIT FOR THE ANSWER</h2>
      <H3 id="RESPONSE"></H3>
      
      <button type="button" class="w3-button w3-padding-large w3-green w3-margin-bottom" onclick="document.getElementById('subscribe').style.display='none'">Subscribe</button>
    </div>
  </div>
</div>