
<!-- Slideshow Header -->
<div class="w3-container" id="apartment">
  <h2 class="w3-text-green"><%=obj.titel%></h2>
<% for (let i = 0; i < obj.images.length; i++) {%>

<div class="w3-display-container mySlides">
  <img src="<%= obj.images[i].uri %>" style="width:100%;margin-bottom:-6px;height:100%;">
    <div class="w3-display-bottomleft w3-container w3-black">
      <p><%= obj.images[i].description %></p>
    </div>
</div>

<% } %> 
  
</div>
<div class="w3-row-padding w3-section">
<% for (let i = 0; i < obj.images.length; i++) {%>
      <div class="w3-col s3">
        <img class="demo w3-opacity w3-hover-opacity-off" src="<%= obj.images[i].uri %>" style="width:100%;cursor:pointer;" onclick="currentDiv(<%=i+1%>)" title="<%= obj.images[i].description %>">
      </div>
<%if (obj.images[i].isMainPhoto) {%>
  <input id="details" type="hidden" name="<%= obj.price %>" value="<%=i+1%>" data-id="<%= obj._id %>">
<%}}%>
<% if(obj.images.length <= 3){%>
<% for (let i = 0; i < (4-obj.images.length); i++) {%> 
    <div class="w3-col s3">
        <img class="w3-opacity w3-hover-opacity-off" style="width:100%;cursor:pointer;" src="/img/image.png" alt="img">
    </div>
<% }} %> 
  
</div>

<div class="w3-container">
  <h4><strong>The space</strong></h4>
  <div class="w3-row w3-large">
    <div class="w3-col s6">
<% for (let i = 0; i < obj.beds.length; i++) {%>
      <p><i class="fa fa-fw fa-bed"></i> Bedrooms <%= obj.beds[i].type %>: <%= obj.beds[i].beds %></p>
<% } %>
    </div>
    <div class="w3-col s6">
<% if(obj.occupancy != null){%>
      <p><i class="fa fa-fw fa-male"></i> Max people: <%= obj.occupancy %></p>
<%} if(obj.bathRooms != null){%>
      <p><i class="fa fa-fw fa-bath"></i> Bathrooms: <%= obj.bathRooms %></p>
<%}%>
    </div>
  </div>
  <hr>

  <h4><strong>Location</strong></h4>
  <div class="w3-row w3-large">
    <div class="w3-col s6">
<% if(obj.location.province != null){%>
      <p><i class="fa fa-fw fa-globe"></i> Province: <%= obj.location.province %></p>
<%} if(obj.location.city != null){%>
      <p><i class="fa fa-fw fa-university"></i> City: <%= obj.location.city %></p>
<%} if(obj.location.gps[0] != null){%>
      <p><i class="fa fa-fw fa-map-marker"></i> GPS coordinates: Latitude<%= obj.location.gps[0] %> Longitud <%= obj.location.gps[1] %></p>
<%}%>
    </div>
    <div class="w3-col s6">
<% if(obj.apartmentSize != null){%>
      <p><i class="fa fa-fw fa-calculator"></i> Surface: <%= obj.apartmentSize %>m<sup>2</sup></p>
<%} if(obj.price != null){%>
      <p><i class="fa fa-fw fa-money"></i> price per day: <i class="fa fa-eur"></i><%= obj.price %></p>
<%}%>
    </div>
  </div>
  <hr>

  <h4><strong>Rules Tags</strong></h4>
  <div class="w3-row w3-large">
    <div class="w3-col s6">
<% if(obj.rulesTags.smoking){%>
      <p><i class="fas fa-fw fa-smoking-ban"></i> Smoking</p>
<%} if(obj.rulesTags.pets){%>
      <p><i class="fa fa-fw fa-paw"></i> Pets</p>
<%} if(obj.rulesTags.eat){%>
      <p><i class="fa fa-fw fa-cookie-bite"></i> Eat</p>
<%} if(obj.rulesTags.steal){%>
      <p><i class="fa fa-fw fa-user-secret"></i> Steal</p>
<%}%>
    </div>
    <div class="w3-col s6">
<%if(obj.rulesTags.parties){%>
      <p><i class="fa fa-fw fa-glass-cheers"></i> Parties</p>
<%} if(obj.rulesTags.kids){%>
      <p><i class="fa fa-fw fa-child"></i> Kids</p>
<%} if(obj.rulesTags.arrivals){%>
      <p><i class="fa fa-fw fa-clock-o"></i> Arrivals</p>
<%}%>
    </div>
  </div>
  <hr>
  
  <h4><strong>Amenities</strong></h4>
  <div class="w3-row w3-large">
    <div class="w3-col s6">
<%if(obj.services.AC){%>
      <p><i class="fa fa-fw fa-snowflake"></i> Shower</p>
<%} if(obj.services.wifi){%>
      <p><i class="fa fa-fw fa-wifi"></i> WiFi</p>
<%} if(obj.services.TV){%>
      <p><i class="fa fa-fw fa-tv"></i> TV</p>
<%}%>
    </div>
    <div class="w3-col s6">
<%if(obj.services.kitchen){%>
      <p><i class="fas fa-fw fa-utensils"></i> Kitchen</p>
<%} if(obj.services.heating){%>
      <p><i class="fa fa-fw fa-thermometer"></i> Heating</p>
<%} if(obj.services.reducedMobility){%>
      <p><i class="fa fa-fw fa-wheelchair"></i> Accessible</p>
<%}%>
    </div>
  </div>
  <hr>
  
  <h4><strong>Extra Info</strong></h4>
  <p><%= obj.description%></p>
  <p>We accept: <i class="fa fa-credit-card w3-large"></i> <i class="fa fa-cc-mastercard w3-large"></i> <i class="fa fa-cc-amex w3-large"></i> <i class="fa fa-cc-cc-visa w3-large"></i><i class="fa fa-cc-paypal w3-large"></i></p>
  <hr>
  
  <h4><strong>Rules</strong></h4>
  <p><%= obj.rulesDescription%></p>


  <% if(obj.reservations.length > 0) {%> 
      <h4><strong>Bookings</strong></h4>
      <table class="w3-table w3-bordered w3-hoverable w3-center" style="width: 50%;">
        <thead>
            <tr>
                <th>In</th>
                <th>Out</th>
            </tr>
        </thead>
  
  <% for (let i = 0; i < obj.reservations.length; i++) {%> 
            <tr>
              <td><%=new Date(obj.reservations[i].start).toLocaleDateString() %></td>
              <td><%=new Date(obj.reservations[i].end).toLocaleDateString() %></td>
            </tr>
    
  <%}%> 
      </table>
  <%}%> 
      
    </div>
<hr>
  <p><button id="buttonMensaje" class="w3-button w3-green w3-third" onclick="document.getElementById('subscribe').style.display='block'">Reserve</button></p>

  
<br>

<div id="divMensaje" class="w3-panel w3-red w3-leftbar w3-padding-32" style="display: none;">
      <h6 id="mensaje"><i class="fa fa-info w3-deep-orange w3-padding w3-margin-right"></i><!-- mensaje--></h6>
</div>


 <!-- Subscribe Modal -->
 <div id="subscribe" class="w3-modal">
      <div class="w3-modal-content w3-animate-zoom w3-padding-large">
        <div class="w3-container w3-white w3-center">
          <i onclick="window.location.href = '/'" class="fa fa-remove w3-button w3-xlarge w3-right w3-transparent"></i>
          <h2 class="w3-wide">WAIT FOR THE ANSWER</h2>
          <H3 id="RESPONSE"></H3>
          
          <button type="button" class="w3-button w3-padding-large w3-green w3-margin-bottom" onclick="window.location.href = '/'">Subscribe</button>
        </div>
      </div>
    </div>